@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
}

/* Add to your CSS */
@keyframes backgroundMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.faq-section {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glassmorphism-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.1); /* For Firefox */
}

.glassmorphism-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.glassmorphism-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.glassmorphism-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.glassmorphism-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.glassmorphism-scrollbar::-webkit-scrollbar-horizontal {
  display: none; /* Hides horizontal scrollbar */
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ReactToastify__toast-container {
  z-index: 9999 !important;
}
